<div class="container content">
  <div class="row">
    <div class="col-xs-12">
      <div id="photo-header" class="text-center">
        <!-- PHOTO (AVATAR) -->
        <div id="photo">
          <img src="{{gravatarUrl}}" alt="avatar">
        </div>
        <div id="text-header">
          <h1>Hello,<br> my name is <span>{{resume.firstName}}</span> and this is my resume</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-7">
      <!-- ABOUT ME -->
      <div class="box">
        <h2>About Me</h2>
        <p>{{resume.aboutMe}}</p>
      </div>
      <!-- EDUCATION -->
      <div class="box">
        <h2>Educational milestones</h2>
        <ul id="education" class="clearfix">
          {{#each resume.milestones}}
          <li>
            <div class="year pull-left">{{this.year}}</div>
            <div class="description pull-right">
              <h3>{{this.name}}</h3>
              <p>{{this.description}}</p>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
      <!-- EXPERIENCES -->
      <div class="box">
        <h2>Experience</h2>
        {{#each resume.experience}}
        <div class="job clearfix">
          <div class="col-xs-3">
            <div class="where">{{this.company}}</div>
            <div class="year">{{this.year}}</div>
          </div>
          <div class="col-xs-9">
            <div class="profession">{{this.title}}</div>
            <div class="description">{{this.description}}</div>
          </div>
        </div>
        {{/each}}
      </div>
      <!-- RECOMMENDATIONS -->
      <div class="box">
        {{#if resume.recommendations}}
          <h2>Recommendations</h2>
        {{/if}}
        {{#each resume.recommendations}}
          <p><strong>{{author.firstName}} {{author.lastName}}</strong> - {{content}}</p>
        {{/each}}
        {{#if_eq user.role "Lecturer"}}
          <button class="btn btn-primary add-rec-button">Add Recommendation</button>
          <form action="/resume/{{resume.id}}/recommendations" method="post" class="add-rec-input" style="display: none">
            <textarea required="required" id="content" name="content" class="form-control add-rec-text" rows="3"></textarea>
            <br>
            <input type="submit" value="Submit" class="btn btn-primary add-rec-submit" />
            <button class="btn btn-warning add-rec-cancel" />Cancel</button>
          </form>
        {{/if_eq}}
      </div>
    </div>
    <div class="col-xs-12 col-sm-5">
      <!-- CONTACT -->
      <div class="box clearfix">
        <h2>Contact</h2>
        {{#if resume.phone}}
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-phone fa-fw"></span></div>
          <div class="title only pull-right">{{resume.phone}}</div>
        </div>
        {{/if}}
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
          <div class="title only pull-right">{{resume.local.email}}</div>
        </div>
        {{#if resume.twitter}}
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-twitter fa-fw"></span></div>
          <div class="title pull-right">Twitter</div>
          <div class="description pull-right">{{resume.twitter}}</div>
        </div>
        {{/if}}
        {{#if resume.facebook}}
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-facebook fa-fw"></span></div>
          <div class="title pull-right">Facebook</div>
          <div class="description pull-right">{{resume.facebook}}</div>
        </div>
        {{/if}}
        {{#if resume.skype}}
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-skype fa-fw"></span></div>
          <div class="title pull-right">Skype</div>
          <div class="description pull-right">{{resume.skype}}</div>
        </div>
        {{/if}}
      </div>
      <!-- SKILLS -->
      <div class="box">
        <h2>Skills</h2>
        <div class="skills">
          <!--
          <div class="item-skills" data-percent="1.00">Math</div>
          <div class="item-skills" data-percent="0.90">C++</div>
          <div class="item-skills" data-percent="0.80" title="Object Oriented Programming">Object Oriented Programming</div>
          <div class="item-skills" data-percent="0.75">Javascript</div>
          <div class="item-skills" data-percent="0.25">Algorithms</div>
          -->
          {{#each skills}}
            <div class="item-skills" data-percent="{{this}}">{{@key}}</div>
          {{/each}}
          <div class="skills-legend clearfix">
            <div class="legend-left legend">Beginner</div>
            <div class="legend-left legend"><span>Proficient</span></div>
            <div class="legend-right legend"><span>Expert</span></div>
            <div class="legend-right legend">Master</div>
          </div>
        </div>
      </div>
      <!-- LANGUAGES -->
      <div class="box">
        <h2>Languages</h2>
        <div id="language-skills">
          {{#each resume.languages}}
          <div class="skill">{{this}} <div class="icons pull-right"><div style="width: 100%;" class="icons-red"></div></div></div>
          {{/each}}
        </div>
      </div>
      <!-- HOBBIES -->
      <div class="box">
        <h2>Hobbies</h2>
        {{#each resume.hobbies}}
        <div class="hobby">{{this}}</div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{#section 'scripts'}}
  <script src="/js/resume.js"></script>
{{/section}}
